# Ignore everything by default
/*

# Allow the GitHub Actions folder
!/.github/

# Allow the .gitignore file itself
!/.gitignore

# Allow the themes folder, but ignore other themes inside it
!/themes/
/themes/*

# Specifically ALLOW your redesign theme
!/themes/vipartes-theme/