name: Deploy PrestaShop to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.1'

      - name: Install Dependencies (Composer)
        run: composer install --no-dev --optimize-autoloader --ignore-platform-reqs

      - name: Create parameters.yml
        run: |
          echo "parameters:" > app/config/parameters.yml
          echo "    database_host: 127.0.0.1" >> app/config/parameters.yml
          echo "    database_port: 3306" >> app/config/parameters.yml
          echo "    database_name: vipartes_ps" >> app/config/parameters.yml
          echo "    database_user: vipartes_admin" >> app/config/parameters.yml
          echo "    database_password: ${{ secrets.DB_PASS }}" >> app/config/parameters.yml
          echo "    database_prefix: ps_" >> app/config/parameters.yml
          echo "    database_engine: InnoDB" >> app/config/parameters.yml
          echo "    mailer_transport: smtp" >> app/config/parameters.yml
          echo "    mailer_host: 127.0.0.1" >> app/config/parameters.yml
          echo "    secret: ${{ secrets.PS_SECRET }}" >> app/config/parameters.yml
          echo "    ps_caching: CacheMemcache" >> app/config/parameters.yml
          echo "    ps_cache_enable: false" >> app/config/parameters.yml
          echo "    ps_creation_date: '2024-01-01'" >> app/config/parameters.yml
          echo "    locale: es-ES" >> app/config/parameters.yml
          echo "    use_html_purifier: true" >> app/config/parameters.yml
          echo "    cookie_key: ${{ secrets.PS_COOKIE_KEY }}" >> app/config/parameters.yml
          echo "    cookie_iv: ${{ secrets.PS_COOKIE_IV }}" >> app/config/parameters.yml
          echo "    new_cookie_key: ${{ secrets.PS_NEW_COOKIE_KEY }}" >> app/config/parameters.yml

      - name: Deploy via rsync
        uses: Burnett01/rsync-deployments@7.0.1
        with:
          # Added --no-ignore to prevent rsync from skipping the vendor folder
          switches: -avzr --delete --no-ignore
          path: ./
          remote_path: /var/www/vhosts/vipartesanias.ubbie.studio/httpdocs/
          remote_host: 148.251.42.8
          remote_user: ubbie_vipartesanias
          remote_key: ${{ secrets.SERVER_SSH_KEY }}
          after_deploy: |
            rm -rf /var/www/vhosts/vipartesanias.ubbie.studio/httpdocs/var/cache/*