name: Deploy PrestaShop to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Generate parameters.yml
        run: |
          cat <<EOF > app/config/parameters.yml
          parameters:
              database_host: 127.0.0.1
              database_port: 3306
              database_name: vipartes_ps
              database_user: vipartes_admin
              database_password: ${{ secrets.DB_PASS }}
              database_prefix: ps_
              database_engine: InnoDB
              mailer_transport: smtp
              mailer_host: 127.0.0.1
              secret: ${{ secrets.PS_SECRET }}
              ps_caching: CacheMemcache
              ps_cache_enable: false
              ps_creation_date: '2024-01-01'
              locale: es-ES
              use_html_purifier: true
              cookie_key: ${{ secrets.PS_COOKIE_KEY }}
              cookie_iv: ${{ secrets.PS_COOKIE_IV }}
              new_cookie_key: ${{ secrets.PS_NEW_COOKIE_KEY }}
          EOF

      - name: Deploy via rsync
        uses: Burnett01/rsync-deployments@7.0.1
        with:
          switches: -avzr --delete
          path: ./
          remote_path: /var/www/vhosts/vipartesanias.ubbie.studio/httpdocs/
          remote_host: 148.251.42.8
          remote_user: ubbie_vipartesanias
          remote_key: ${{ secrets.SERVER_SSH_KEY }}